<!DOCTYPE html>
<html ng-app="loginApp">
<head>
	<title>Welcome to Quizer</title>
	<link rel="stylesheet" type="text/css" href="css/abc.css">
</head>
<body ng-controller="loginControl">
<h1>Welcome to Quizer!!</h1>
<form name="loginForm" id="loginForm1" ng-submit="login()">
<label>First Name:</label>
<input type="text" name="firstName" ng-model="firstName"><br><br>
<label>Last Name:</label>
<input type="text" name="lastName" ng-model="lastName"><br><br>
<label>Email:</label>
<input type="text" name="email" ng-model="email"><br><br>
<button type="submit">SUBMIT</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>
var app = angular.module('loginApp',[]); // Taking Angular Application in Javascript Variable
app.controller('loginControl', function($scope, $http){
		$scope.login = function(){
			var formdata = {
					'firstName' : this.firstName,
					'lastName' : this.lastName,
					'email' : this.email
			};
			var jdata = 'mydata='+JSON.stringify(formdata); 
			$http({
				method :'POST',
				url:'http://localhost:3000/login',
				data: jdata,
				headers: {'Content-Type': 'application/x-www-form-urlencoded'}
			}).success(function(response){
				console.log('success');
				//window.location.href = 'http://localhost:3000/login';
			});
		};
});
</script>
</body>
</html>