<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/contestant.css">
<link rel="stylesheet" type="text/css" href="/css/result-light.css">
<script type="text/javascript" src="js/jquery-2.0.2.js"></script>  
<script src="js/angular.min.js"></script>  
<script src="js/contestant.js"></script> 
</head>
<body ng-app="quizApp">
<div ng-controller="quizController">
	<div ng-init="load()" class="quizContainer">
		<h1>Hello! Welcome to Quiz!!</h1>
		<div ng-if="quizList.length == 0">
			<strong>No Questions to display !!</strong>
			<!-- <div class="nextButton" ng-click="uploadQuiz()">
		        	Upload Questions
		        </div>
		        <br>
		     <div id="result" ng-click="load()">{{result}}</div>    -->
		    
		</div>
		<!-- <div ng-if="quizList.length > 0"> -->
			<form name="quizForm" id="quizForm1" ng-submit="saveQuiz()">
				<div ng-if="quizList.length > 0" ng-model="quiz.id" class="question">
			      <strong>{{quiz.id}}. </strong>{{quiz.que}}
			    </div>
			   
		        <ul ng-repeat="val in options" class="choiceList">
			      <li>
			         <input type="radio" name="selOption" ng-model="$parent.selected" value="{{val.text}}" />
			               {{val.text}}
			     </li>
			   </ul>
			 
			   <!-- <div class="quizMessage" ng-hide="quizMessage"></div>
	        	<div class="result" ng-hide="result"></div> -->
			  
		        <!-- <div class="nextButton">
		        	PREVIOUS
		        </div> -->
		        <!-- <div ng-if="quizList.length > 0" class="nextButton" ng-click="toggle()">
		        	NEXT
		        </div> -->
		        <br>
		        <div ng-if="quizList.length > 0">
		        <span ng-show="previousButton" class="previousButton" ng-click="previous()">PREVIOUS</span>
		        <span ng-show="nextButton" class="nextButton" ng-click="next()">NEXT</span>
		        <span ng-show="submitButton" class="nextButton" ng-click="saveQuiz()">SUBMIT</span>
		       </div>
		       <div class="quizMessage" ng-show="quizMessage"></div>
		       <!--  <br>
		        <div class="submitButton" ng-show="submitButton">
		       	 	SUBMIT
		        </div> -->
		        <!-- <span ng-hide="submitButton" class="nextButton">SUBMIT</span> -->
		        <!-- <div class="nextButton">
			  	  SUBMIT
		        </div>  -->
			</form>
		</div>
	</div>	
</div>
</body>
</html>
