<html>
	<head>
		<script type="text/javascript" src="js/jquery-2.0.2.js"></script>  
		<script src="js/angular.min.js"></script> 

	    <script>
	    	var apps = angular.module('queApp',[]); // Taking Angular Application in Javascript Variable
			apps.controller('queController',function($scope, $http){
				$scope.load = function(){
					console.log("Came..");
					$http.get('./quizList').success(function(questions){
						$scope.quizList = questions;
					});

				};

			});
	    </script>
	</head>
	<div ng-app="queApp">
		<div ng-controller="queController">
			<div ng-init="load()">
				<h1>Hello! Welcome to Quiz!!</h1>
				<div ng-if="quizList.length == 0">
					<strong>No Questions to display !!</strong>
				</div>
				<div ng-if="quizList.length > 0">
					<form name="quizForm" id="quizForm1" ng-submit="saveQuiz()">
						<div ng-repeat="quiz in quizList" ng-model="quiz.id" class="question">
							<strong>{{quiz.id}}. </strong>{{quiz.que}}
						</div>
						<div class="quizMessage" ng-show="quizMessage"></div>
					</form>
				</div>
			</div>
		</div>	
	</div>
</html>
